@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');





/* Utility Tools */
.border-sample {
    border: 2px solid black;
}

.items {
    border: 3px solid lightgreen;
    background: lightcoral;
    border-radius: 3px;
    width: 30vw;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Main Codespace */
body {
    background-image: url('bg1v1.jpg');
    background-size: cover;
    /* Adjusts image to cover the whole screen */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Keeps the background fixed when scrolling */
    /* opacity: 10px; */
    margin: 0;
    padding: 0;
}





/* Pause Button */
.pause {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    /* border: 2px solid black; */
}

.pause div {
    font-family: "Potta One", system-ui;
    font-size: 1.05rem;
    font-weight: 400;
    margin: 0;
    padding: 0% 2%; /* 10px 150px; */
    border: .15em solid black;
    border-top: 0;
    border-radius: 0 0 13px 13px;
    background: rgb(208 208 208);/*rgb(155, 155, 155);*/
    z-index: 1;
}

.pause img {
    height: 8vh;
    width: 2vw;
}

/* Container for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button */
.dropdown-button {
    background-color: rgb(208 208 208);
    /* color: white; */
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    z-index: 3;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    /* Hide the dropdown by default */
    position: absolute;
    left: 4%;
    background-color: #f1f1f1;
    /* max-width: 160px; */
    width: 8vw;
    height: 21vh;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 5;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10% 28%;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}
  




/* Player Names */
.playername {
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
}

.score {
    font-family: "Potta One", system-ui;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid cyan;
    background: lightcyan;
    box-shadow: 0px 7px 20px 0px #67c7c7;
}

.player1 {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    font-family: "Potta One", system-ui;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid cyan;
    background: lightcyan;
    box-shadow: 0px 7px 20px 0px #67c7c7;
}

.player2 {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10vh;
    font-family: "Potta One", system-ui;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid cyan;
    background: lightcyan;
    box-shadow: 0px 7px 20px 0px #67c7c7;
}

.bat_bowl {
    width: 3vw;
    height: 5vh;
    margin: 0 4%;
    border-radius: 50%;
    border: 2px solid rgb(210, 47, 239);
}

/* #logoPlayer1 {
}

#logoPlayer2 {
} */

.versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 0px; */
    /* background: transparent; */
    font-family: "Potta One", system-ui;
    color: #0edaae;
    font-size: 1.1rem;
    font-weight: 200;
}

.versusFirstline {
    display: flex;
    justify-content: space-between;
    width: 83%;
}

.versusFirstline p:hover, .versusSecondline p:hover {
    color: rgb(5, 164, 129);
}


/* Keyframes */
@keyframes slideLeft {
    from {
        margin-left: -80vw;
    }
    to{
        margin-left: -4vw;
    }
}
@keyframes slideRight {
    from {
        margin-right: -80vw;
    }
    to{
        margin-right: -4vw;
    }
}





/* HandSigns Space */
.handsigns {
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-column-gap: 5vw;
}

.signs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
}

.handSigns1 {
    /* border: 1px solid #bdbdbd;
    box-shadow: 0px 7px 50px 0px #c2c2c2;
    border-radius: 0px 20px 20px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    background: transparent;
}

.handSigns2 {
    /* border: 1px solid #bdbdbd;
    box-shadow: 0px 7px 50px 0px #c2c2c2;
    border-radius: 20px 0px 0px 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    background: transparent;
}

/* .chatBOX {
    height: 25vh;
    margin-top: 11vh;
    overflow-y: scroll;
} */





/* Hand SIGNS for both left and right */

.leftONE {
    transform: rotateY(180deg) rotateZ(-90deg);
    height: 60vh;
    width: 25vw;
    margin-left: -4vw;
    animation: slideLeft 1s forwards;
}

.rightONE {
    transform: rotateZ(-90deg);
    height: 60vh;
    width: 25vw;
    margin-right: -4vw;
    animation: slideRight 1s forwards;
}

.leftTWO {
    transform: rotateY(180deg) rotateZ(-90deg);
    height: 60vh;
    width: 25vw;
    margin-left: -6vw;
}

.rightTWO {
    transform: rotateZ(-90deg);
    height: 60vh;
    width: 25vw;
    margin-right: -6vw;
}

.leftTHREE {
    transform: rotateY(180deg) rotateZ(-90deg);
    height: 60vh;
    width: 25vw;
    margin-left: -3vw;
}

.rightTHREE {
    transform: rotateZ(-90deg);
    height: 60vh;
    width: 25vw;
    margin-right: -3vw;
}

.leftFOUR {
    transform: rotateY(180deg) rotateZ(-90deg);
    height: 60vh;
    width: 17vw;
    margin-left: -5vw;
}

.rightFOUR {
    transform: rotateZ(-90deg);
    height: 60vh;
    width: 17vw;
    margin-right: -5vw;
}

.leftFIVE {
    transform: rotateY(180deg) rotateZ(-90deg);
    height: 60vh;
    width: 23vw;
    margin-left: -5vw;
}

.rightFIVE {
    transform: rotateZ(-90deg);
    height: 60vh;
    width: 23vw;
    margin-right: -5vw;
}

.leftSIX {
    transform: rotateY(180deg);
    height: 60vh;
    width: 33vw;
    margin-left: -5vw;
}

.rightSIX {
    height: 60vh;
    width: 33vw;
    margin-right: -4vw;
}






/* Input BOX */
.inputBox {
    margin-top: 2vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    /* width: 30vw; */
}

.number {
    border: 3px solid lightseagreen;
    background: lightcyan;
    height: 10vh;
    width: 6vw;
    margin: 0% 1%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number:hover {
    background: rgb(100, 255, 255);
}
.number:active {
    background: rgb(3, 141, 141);
}

.logo {
    width: 70px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.logoOne {
    transform: rotateZ(-90deg);
    height: 13vh;
    /* width: 10vw; */
}

.logoTwo {
    transform: rotateZ(-90deg);
    height: 14vh;
}

.logoThree {
    transform: rotateZ(-90deg);
    height: 13vh;
}

.logoFour {
    transform: rotateZ(-90deg);
    height: 13vh;
}

.logoFive {
    transform: rotateZ(-90deg);
    height: 14vh;
}

.logoSix {
    height: 13vh;
    width: 21vh;
}